body{
    background-image:url("studio.jpg");
    background-size: 2000px ;
}
.container {
    width: 400px;
    padding:25px 35px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 5px;
    background: #ffffff;
    border-radius: 10px;

}

.container p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family:cursive;
    color: black;
}
.container input{
    width: 90%;
    height: 20px;
    border: 1px solid black;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    font-family: cursive;
}

.container button {
    font-family: cursive;
    width: 100%;
    height:20px;
    padding: 10px;
    margin:5px 5px;
    color:rgb(8, 8, 8);
    border:0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 20px o;
    font-weight: 500;

}

#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBox img {
    width: 100%;
    padding: 10px;

}

#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding-right:15px;
    
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0% { 
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 600px)
{
    #imgBox {
        width: 200px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
        padding-left: 40px;
    }
    
    #imgBox img {
        width: 100%;
        padding: 10px;
        
    }
    
    #imgBox.show-img {
        max-height: 300px;
        margin: 10px auto;
        border: 1px solid #d1d1d1;
        padding-right:15px;
        
    }
}

@media screen and (max-width:900px)
{

    .container{
        width:60%;
        margin-right: 10px;
        
    }
    #imgBox {
        width: 200px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
        padding-left: 15px;
        margin: 0;
        padding:0%
        
    }
    
    #imgBox img {
        width: 100%;
        padding: 10px;
    
    }
    
    #imgBox.show-img {
        max-height: 300px;
        margin: 10px auto;
        border: 1px solid #d1d1d1;
        padding-right:15px;
    }
    
}
